<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgram.base.demo.mapper.StudentMapper">

    <select id="getById" resultType="com.tgram.base.demo.entity.Student">
         select * from student where id=#{id}
    </select>

    <insert id="insertWithID" parameterType="com.tgram.base.demo.entity.Student">
        insert into student(id,name,age) values (#{id},#{name},#{age})
    </insert>
</mapper>
